* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5fa;
}

.top-nav {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.top-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.top-nav a:hover {
    color: #2c64c0;
}

.top-nav a.active {
    background-color: #2c64c0;
    color: white;
}

/* New styles for body layout */
.container {
    
    background-color: #f5f5fa;
    padding: 50px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    margin: 40px auto; /* Centers the container and adds space from the navigation */
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 3.5em;
    text-align: center;
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.button-style {
    display: block;
    background-color: #1b99aa;
    color: white;
    border: none;
    padding: 30px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 35px;
    margin: 10px auto;
    width: fit-content;
}

.button-style:hover {
    background-color: #2c64c0;
}


.drop-text {
    color: #999;
    text-align: center;
}

.hidden {
    display: none;
}

.enhance-options {
    text-align: center;
    margin-top: 60px; /* Adjust as needed */
}

.enhancement-controls {
    display: inline-block;
    vertical-align: top;
}

.enhance-button {
    display: block;
    margin-bottom: 10px; /* Space between buttons */
    /* Smaller button size */
    padding: 10px 10px;
    font-size: 0.8em;
}

.image-preview-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px; /* Space between buttons and image */
    /* Set a fixed size for the container */
    width: 500px; /* Adjust to the size you want */
    height: 300px; /* Adjust to the size you want */
    overflow: hidden; /* Ensures the image does not spill outside the container */
}

#image-preview {
    width: 100%;  /* Makes the image responsive within the container */
    height: 100%; /* Makes the image responsive within the container */
    object-fit: contain; /* This will ensure that the aspect ratio is maintained without stretching */
}
